<h1>Lista de equipos partidos</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Partido</th>
    <th>Equipo</th>
    <th>Cantidad de goles</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipo_partidos.each do |equipo_partido| %>
  <tbody>
  <tr>
    <td><%= equipo_partido.partido_id %></td>
    <td><%= equipo_partido.equipo_id %></td>
    <td><%= equipo_partido.cantidad_de_goles %></td>
    <td><%= link_to 'mostrar', equipo_partido %></td>
    <td><%= link_to 'Editar', edit_equipo_partido_path(equipo_partido) %></td>
    <td><%= link_to 'Eliminar', equipo_partido, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />

<%= link_to 'Nuevo Equipo partido', new_equipo_partido_path %>
