<div class="form-padding"> 
  <%= form_for(@jugador) do |f| %>
    <% if @jugador.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@jugador.errors.count, "error") %> prohibited this jugador from being saved:</h2>

        <ul>
        <% @jugador.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :codigo_club_id %><br />
      <%= f.collection_select(:codigo_club_id, @clubes, :id, :nombre) %>
      
    </div>
    <div class="field">
      <%= f.label :equipo_id %><br />
      <%= f.collection_select(:equipo_id, @equipos, :id, :nombre) %>
    </div>
    <div class="field">
      <%= f.label :apellido %><br />
      <%= f.text_field :apellido %>
    </div>
    <div class="field">
      <%= f.label :nombre %><br />
      <%= f.text_field :nombre %>
    </div>
    <div class="field">
      <%= f.label :dni %><br />
      <%= f.text_field :dni %>
    </div>
    <div>
     <%= f.label :sexo %><br />
     <%= f.select :sexo, {femenino: 'femenino', masculino: 'masculino'}.collect{|k,v| [k, v]}%>
    </div>
    <div class="field">
      <%= f.label :fecha_nacimiento %><br />
      <%= f.date_select("fecha_nacimiento", :start_year => 1980 ) %>
    </div>
    <div class="field">
      <%= f.label :direccion %><br />
      <%= f.text_field :direccion %>
    </div>
    <div class="field">
      <%= f.label :puesto %><br />
      <%= f.select :puesto, {titular: 'titular', suplente: 'suplente'}.collect{|k,v| [k, v]}%>
    </div>
    <div class="field">
      <%= f.label :telefono_fijo %><br />
      <%= f.text_field :telefono_fijo %>
    </div>
    <div class="field">
      <%= f.label :telefono_celular %><br />
      <%= f.text_field :telefono_celular %>
    </div>
    <div class="field">
      <%= f.label :provincia %><br />
      <%= f.text_field :provincia %>
    </div>
    <div class="field">
      <%= f.label :ciudad %><br />
      <%= f.text_field :ciudad %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>