<h1>Lista de jugadores</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Codigo club</th>
    <th>Equipo</th>
    <th>Apellido</th>
    <th>Nombre</th>
    <th>Dni</th>
    <th>Direccion</th>
    <th>Fecha nacimiento</th>
    <th>Puesto</th>
    <th>Telefono fijo</th>
    <th>Telefono celular</th>
    <th>Provincia</th>
    <th>Ciudad</th>
    <th>Sexo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jugadores.each do |jugador| %>
  <tbody>
  <tr>
    <td><%= jugador.codigo_club_id %></td>
    <td><%= jugador.equipo_id %></td>
    <td><%= jugador.apellido %></td>
    <td><%= jugador.nombre %></td>
    <td><%= jugador.dni %></td>
    <td><%= jugador.direccion %></td>
    <td><%= jugador.fecha_nacimiento %></td>
    <td><%= jugador.puesto %></td>
    <td><%= jugador.telefono_fijo %></td>
    <td><%= jugador.telefono_celular %></td>
    <td><%= jugador.provincia %></td>
    <td><%= jugador.ciudad %></td>
    <td><%= jugador.sexo %></td>
    <td><%= link_to 'mostrar', jugador %></td>
    <td><%= link_to 'editar', edit_jugador_path(jugador) %></td>
    <td><%= link_to 'Eliminar', jugador, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />

<div align="center">
<%= button_to 'Nuevo Jugador', new_jugador_path, :method => "get" %>
</div>
