<h1>Listing partidos</h1>

<table class="table">
  <thead>
  <tr>
    <th>Cancha</th>
    <th>Fecha</th>
    <th>Fecha encuentro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partidos.each do |partido| %>
  <tbody>
  <tr>
    <td><%= partido.cancha_id %></td>
    <td><%= partido.fecha %></td>
    <td><%= partido.fecha_encuentro %></td>
    <td><%= link_to 'Show', partido %></td>
    <td><%= link_to 'Edit', edit_partido_path(partido) %></td>
    <td><%= link_to 'Destroy', partido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />

<%= link_to 'New Partido', new_partido_path %>
