<h1>Lista de partidos</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Cancha</th>
    <th>Equipo 1</th>
    <th>Equipo 2</th>
    <th>Fecha encuentro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partidos.each do |partido| %>
  <tbody>
  <tr>
    <td><%= partido.cancha_id %></td>
    <td><%#= partido.equipos.first %></td>
    <td><%#= partido.equipos.last %></td>
    <td><%= partido.fecha_encuentro.strftime("%d - %m - %Y") %></td>
    <td><%= link_to 'mostrar', partido %></td>
    <td><%= link_to 'Editar', edit_partido_path(partido) %></td>
    <td><%= link_to 'Eliminar', partido, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />

<%= link_to 'Nuevo Partido', new_partido_path %>
