<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @empleado_del_cuerpo_tecnico.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @empleado_del_cuerpo_tecnico.apellido %>
</p>

<p>
  <b>Dni:</b>
  <%= @empleado_del_cuerpo_tecnico.dni %>
</p>

<p>
  <b>Fecha de nacimiento:</b>
  <%= @empleado_del_cuerpo_tecnico.fecha_de_nacimiento %>
</p>

<p>
  <b>Telefono fijo:</b>
  <%= @empleado_del_cuerpo_tecnico.telefono_fijo %>
</p>

<p>
  <b>Telefono celular:</b>
  <%= @empleado_del_cuerpo_tecnico.telefono_celular %>
</p>

<p>
  <b>Email:</b>
  <%= @empleado_del_cuerpo_tecnico.email %>
</p>

<p>
  <b>Direccion:</b>
  <%= @empleado_del_cuerpo_tecnico.direccion %>
</p>


<%= link_to 'Editar', edit_empleado_del_cuerpo_tecnico_path(@empleado_del_cuerpo_tecnico) %> |
<%= link_to 'volver', empleados_del_cuerpo_tecnico_path %>
