<h1>Lista de equipos</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Sexo</th>
    <th>Categoria</th>
    <th>Cantidad de victorias</th>
    <th>Cantidad de derrotas</th>
    <th>Cantidad de empates</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipos.each do |equipo| %>
  <tbody>
  <tr>
    <td><%= equipo.sexo %></td>
    <td><%= equipo.categoria %></td>
    <td><%= equipo.cantidad_de_victorias %></td>
    <td><%= equipo.cantidad_de_derrotas %></td>
    <td><%= equipo.cantidad_de_empates %></td>
    <td><%= link_to 'Show', equipo %></td>
    <td><%= link_to 'Edit', edit_equipo_path(equipo) %></td>
    <td><%= link_to 'Destroy', equipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />

<%= link_to 'Nuevo Equipo', new_equipo_path %> | <%= link_to 'Listado por categorías', listado_categoria_equipos_path %>
