<p id="notice"><%= notice %></p>

<p>
  <b>Sexo:</b>
  <%= @equipo.sexo %>
</p>

<p>
  <b>Categoria:</b>
  <%= @equipo.categoria %>
</p>

<p>
  <b>Cantidad de victorias:</b>
  <%= @equipo.cantidad_de_victorias %>
</p>

<p>
  <b>Cantidad de derrotas:</b>
  <%= @equipo.cantidad_de_derrotas %>
</p>

<p>
  <b>Cantidad de empates:</b>
  <%= @equipo.cantidad_de_empates %>
</p>

<p>
  <b>Jugadores</b>
  <table class="table table-striped">
  	<thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre </th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Provincia</th>
      <th>DNI</th>
      <th>Fecha de Nacimiento</th>
      <th>Celular</th>
      <th>Teléfono</th>
      <th>Sexo</th>
    </tr>

    <% @equipo.jugadores.each do |j| %>
      <tbody>
      <tr>
        <td><%= j.apellido%></td>
        <td><%= j.nombre%></td>
        <td><%= j.direccion%></td>
        <td><%= j.ciudad %></td>
        <td><%= j.provincia %></td>
        <td><%= j.dni%></td>
        <td><%= j.fecha_nacimiento%></td>
        <td><%= j.telefono_celular%></td>
        <td><%= j.telefono_fijo%></td>
        <td><%= j.sexo%></td>
      </tr>
    <% end %>
    </tbody>
   </thead>
  </table>
</p>

<p>
  <b>Cuerpo Técnico:</b>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre </th>
      <th>Dirección</th>
      <th>DNI</th>
      <th>E-mail</th>
      <th>Fecha de Nacimiento</th>
      <th>Celular</th>
      <th>Teléfono</th>
    </tr>

    <% @equipo.empleados_del_cuerpo_tecnico.each do |e| %>
      <tbody>
      <tr>
        <td><%= e.apellido%></td>
        <td><%= e.nombre%></td>
        <td><%= e.direccion%></td>
        <td><%= e.dni%></td>
        <td><%= e.email%></td>
        <td><%= e.fecha_nacimiento%></td>
        <td><%= e.telefono_celular%></td>
        <td><%= e.telefono_fijo%></td>
      </tr>
    <% end %>
    </tbody>
  </thead>
  </table>
</p>
<%= link_to 'Editar', edit_equipo_path(@equipo) %> |
<%= link_to 'volver', equipos_path %>
