<h1>Lista de canchas</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Pais</th>
    <th>Provincia</th>
    <th>Ciudad</th>
    <th>Calle y numero</th>
    <th>Capacidad publico</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @canchas.each do |cancha| %>
  <tbody>
  <tr>
    <td><%= cancha.nombre %></td>
    <td><%= cancha.pais %></td>
    <td><%= cancha.provincia %></td>
    <td><%= cancha.ciudad %></td>
    <td><%= cancha.calle_y_numero %></td>
    <td><%= cancha.capacidad_publico %></td>
    <td><%= button_to 'mostrar', cancha, :method => "get" %></td>
    <td><%= button_to 'Editar', edit_cancha_path(cancha), :method => "get" %></td>
    <td><%= button_to 'Eliminar', cancha, method: :delete, data: { confirm: 'Estas seguro?' }%></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />
<div align="center">
<%= button_to 'Nueva Cancha', new_cancha_path, :method => "get" %>
</div>