<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
<div class="control-group error">
    <div class="controls">
      <h2><%= pluralize(@club.errors.count, "error") %> Corregir primero los siguientes campos:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>  
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
