<h1>Lista de clubes</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clubes.each do |club| %>
  <tbody>
  <tr>
    <td><%= club.nombre %></td>
    <td><%= button_to 'Mostrar', club, :method => "get" %></td>
    <td><%= button_to 'Editar', edit_club_path(club), :method => "get" %></td>
    <td><%= button_to 'Eliminar', club, method: :delete, data: { confirm: 'Estas seguro?' }%></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />

<div align="center">
<%= button_to 'Nuevo Club', new_club_path, :method => "get" %>
</div>
