<h1>Listing arbitros</h1>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Dni</th>
    <th>Fecha de nacimiento</th>
    <th>Telefono fijo</th>
    <th>Telefono celular</th>
    <th>Email</th>
    <th>Direccion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% @arbitros.each do |arbitro| %>
  <tbody>
  <tr>
    <td><%= arbitro.nombre %></td>
    <td><%= arbitro.apellido %></td>
    <td><%= arbitro.dni %></td>
    <td><%= arbitro.fecha_de_nacimiento %></td>
    <td><%= arbitro.telefono_fijo %></td>
    <td><%= arbitro.telefono_celular %></td>
    <td><%= arbitro.email %></td>
    <td><%= arbitro.direccion %></td>
    <td><%= link_to 'Show', arbitro %></td>
    <td><%= link_to 'Edit', edit_arbitro_path(arbitro) %></td>
    <td><%= link_to 'Destroy', arbitro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />

<%= link_to 'New Arbitro', new_arbitro_path %>
