<h1>Lista de Arbitros</h1>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Dni</th>
    <th>Fecha de nacimiento</th>
    <th>Telefono fijo</th>
    <th>Telefono celular</th>
    <th>Email</th>
    <th>Direccion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% @arbitros.each do |arbitro| %>
  <tbody>
  <tr>
    <td><%= arbitro.nombre %></td>
    <td><%= arbitro.apellido %></td>
    <td><%= arbitro.dni %></td>
    <td><%= arbitro.fecha_de_nacimiento %></td>
    <td><%= arbitro.telefono_fijo %></td>
    <td><%= arbitro.telefono_celular %></td>
    <td><%= arbitro.email %></td>
    <td><%= arbitro.direccion %></td>
    <td><%= button_to 'mostrar', arbitro, :method => "get" %></td>
    <td><%= button_to 'Editar', edit_arbitro_path(arbitro), :method => "get" %></td>
    <td><%= button_to 'Eliminar', arbitro, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</tbody>
</thead>
</table>

<br />

<div align="center">
<%= button_to 'Nuevo Arbitro', new_arbitro_path, :method => "get" %>
</div>
