<!DOCTYPE html>
<html>
<head>
  <title>Torneo de Hockey</title>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Torneo de Hockey</a>
    <ul class="nav">
      <li class="active"><a href="http://0.0.0.0:3000/">home</a></li>
      <li><%= link_to "jugadores", jugadores_path %></li>
      <li><%= link_to "equipos", equipos_path %></li>
      <li><%= link_to "clubes", clubes_path %></li>
      <li><%= link_to "canchas", canchas_path %></li>
      <li><%= link_to "partidos", partidos_path %></li>
      <li><%= link_to "arbitros", arbitros_path %></li>
      <!-- login  -->
    <!--  <li class="dropdown" id="menu1">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
               Login
                <b class="caret"></b>
             </a>
             <div class="dropdown-menu">
               <form method="post" id="new_user" class="new_user" action="/users/sign_in" accept-charset="UTF-8">
                 <input type="hidden" value="✓" name="utf8">
                 <input type="hidden" value="5FsP8T7caNjHSbvuaz1q996aOJIcZu4XPgS56sF82Ds=" name="authenticity_token">
                 <input style="margin-top: 8px" type="email" value="" size="30" placeholder="Email" name="user[email]" id="user_email">
                 <input style="margin-top: 8px" type="password" size="30" placeholder="Passsword" name="user[password]" id="user_password">
                 <input class="btn-primary" type="submit" value="Log in" name="commit">
                </form>
             </div>
      </li> -->
    </ul>
  </div>
</div>
<div class="container">
<%= yield %>
<div class="bottom-bar">
      <div class="bottombar-inner">
        <div class="container">
          <ul class="nav">
            <li>Torneo de Hockey - TP - CopyLeft 2012</li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>
