<!DOCTYPE html>
<html>
<head>
  <title>Torneo de Hockey</title>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Torneo de Hockey</a>
    <ul class="nav">
      <li class="active"><a href="http://0.0.0.0:3000/">home</a></li>
      <li><%= link_to "jugadores", jugadores_path %></li>
      <li><%= link_to "equipos", equipos_path %></li>
      <li><%= link_to "clubes", clubes_path %></li>
      <li><%= link_to "canchas", canchas_path %></li>
      <li><%= link_to "partidos", partidos_path %></li>
      <li><%= link_to "arbitros", arbitros_path %></li>
      <ul class="nav pull-right">
      <li><a href="/users/sign_up">Sign Up</a></li>
          <li class="divider-vertical"></li>
          <li class="drop down">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <%= form_for("user", :url => user_session_path) do |f| %>
  			  <%= f.text_field :email %>
              <%= f.password_field :password %>
              <%= f.check_box :recordarme %>
              <%= f.label :recodarme %>
              <%= f.submit 'Ingresar' %>
              <%= link_to "Forgot your password?", new_password_path('user') %>
              <% end %>
            </div>
          </li>
       </ul> 
     </div>
    </ul>
  </div>
</div>
<div class="container">
<%= yield %>
</div>
        
<div class="bottom-bar">
      <div class="bottombar-inner">
        <div class="container">
          <ul class="nav">
            <li>Torneo de Hockey - TP - CopyLeft 2012</li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>
